{% extends "base.html" %}

{% block title %}
Sidewalk Caf&eacute;s Near {{ lat }}, {{ lon }}
{% endblock %}

{% block extrahead %}
    <style type="text/css">
        /* Fix interference b/w Bootstrap and Google Maps */
        #map-canvas img { max-width: none; }

        td, td div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        td.seq {
            width: 18px;
            text-align: right;
        }

        td.distance {
            width: 150px;
            text-align: right;
        }

        td div.cafe-name {
            width: 200px;
            text-align: left;
            text-transform: capitalize;
        }

        td div.street {
            width: 150px;
            text-align: left;
            text-transform: capitalize;
        }

        #map-canvas {
            margin: 0;
            padding: 0;
            height: 300px;
        }

        #map-canvas .info-window .cafe-name {
            font-weight: bold;
        }

        #map-canvas .info-window .cafe-name,
        #map-canvas .info-window .street {
            text-transform: capitalize;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <p></p>
            <a class="btn" href="{{ url_for('main') }}"><i class="icon-search"></i>&nbsp;&nbsp;Search again</a>
        </div>
    </div>

    <h1>Nearby NYC Sidewalk Caf&eacute;s</h1>
    <h4>Page <span id="page-number">1</span></h4>
    <div class="row">
        <div class="span6">
            <table class="table table-striped table-bordered table-condensed table-hover"
                   id="results"
                   style="width: auto">
            </table>
        </div>
        <div class="span6">
            <div id="map-canvas"></div>
            <p>Tip: Drag the red marker to choose a new search point.</p>
        </div>
    </div>
    <div class="btn-toolbar center">
        <div class="btn-group">
            <a id="previous" class="btn" href="#"><i class="icon-arrow-left"></i>&nbsp;&nbsp;Previous</a>
            <a id="next" class="btn" href="#">Next&nbsp;&nbsp;<i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='near.js') }}"></script>
    <script type="text/javascript">
        // Communicate from Jinja2 template to Javascript in near.js.
        window.pageData = {
            lat: {{ lat }},
            lon: {{ lon }}
        };
    </script>

    <!-- Handlebars Templates. -->
    {% raw %}
    <script type="text/html" id="result-template">{{#rows}}<tr data-rowid="{{ id }}">
            <td class="seq">{{ seq }}</td>
            <td class="distance">{{ distanceFormat distance }} m</td>
            <td><div class="cafe-name">{{ name }}</div></td>
            <td><div class="street">{{ street }}</div></td>
        </tr>{{/rows}}</script>

    <script type="text/html" id="info-window-template">
        <div class="info-window">
            <p class="cafe-name">{{ name }}</p>
            <p>
                <span class="street">{{ street }}</span><br>
                {{ distanceFormat distance }} meters
            </p>
        </div>
    </script>
    {% endraw %}
</div>
{% endblock %}
