{% extends "base.html" %}

{% block title %}
Sidewalk Caf&eacute;s Near {{ lat }}, {{ lon }}
{% endblock %}

{% block body %}
<div class="container">
    <h1>Nearby Sidewalk Caf&eacute;s</h1>
    <h2>Page {{ page }}</h2>
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Distance</th>
                <th>Name</th>
                <th>Location</th>
                <th>Sidewalk Caf&eacute; Type</th>
            </tr>
        </thead>
        {% for result in results %}
            {% set obj = result['obj'] %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ result['dis']|round|int }} meters
                </td>
                <td>
                    {{ obj['Camis Trade Name'] or obj['Entity Name'] }}
                </td>
                <td>
                    {{ obj['Address Street Name'] }}
                </td>
                <td>
                    {{ obj['Sidewalk Cafe Type'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
        <div class="btn-toolbar center">
            <div class="btn-group">
                {% if page == 1 %}
                    {% set maybe_disabled = 'disabled' %}
                {% else %}
                    {% set maybe_disabled = '' %}
                {% endif %}
                <a class="btn {{ maybe_disabled }}" href="{{ start_url }}"><i class="icon-arrow-left"></i>&nbsp;&nbsp;Start Over</a>
                <a class="btn" href="{{ next_url }}">Next&nbsp;&nbsp;<i class="icon-arrow-right"></i></a>
            </div>
        </div>
</div>
{% endblock %}
