{% extends "base.html" %}

{% block title %}
Sidewalk Caf&eacute;s Near {{ lat }}, {{ lon }}
{% endblock %}

{% block extrahead %}
    <style type="text/css">
        td.seq {
            width: 18px;
            text-align: right;
        }

        td.distance {
            width: 96px;
            text-align: right;
        }

        td.cafe-name {
            width: 400px;
            text-align: left;
            text-transform: capitalize;
        }

        td.street {
            width: 200px;
            text-align: left;
            text-transform: capitalize;
        }

        #map-canvas {
            margin: 0;
            padding: 0;
            height: 300px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Nearby Sidewalk Caf&eacute;s</h1>
    <h4>Page <span id="page-number">1</span></h4>
    <div class="row">
        <div class="span6">
            <table class="table table-striped table-bordered table-condensed table-hover"
                   id="results"
                   style="width: auto">
            </table>
        </div>
        <div class="span6">
            <div id="map-canvas"></div>
        </div>
    </div>
    <div class="btn-toolbar center">
        <div class="btn-group">
            <a id="previous" class="btn" href="#"><i class="icon-arrow-left"></i>&nbsp;&nbsp;Previous</a>
            <a id="next" class="btn" href="#">Next&nbsp;&nbsp;<i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='near.js') }}"></script>
    <script type="text/javascript">
        // Communicate from Jinja2 template to Javascript in near.js.
        window.pageData = {
            lat: {{ lat }},
            lon: {{ lon }}
        };
    </script>

    <!-- Templates -->
    <script type="text/html" id="result-template">
        <tr>
            <td class="seq" data-content="seq">
            </td>
            <td class="distance">
                <span data-content="distance" data-format="toInt"></span> m
            </td>
            <td class="cafe-name" data-content="name">
            </td>
            <td class="street" data-content="street">
        </tr>
    </script>
</div>
{% endblock %}
